* {
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deltatime {
    position: absolute;
    top: 10px;
    left: 10px;
}

canvas {
    height: 100%;
    width: 100%;
}